.overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: fixed;
  background-color: #d9d9d940;
  border-radius: 20px;
  padding: 40px;
}
